.btnStart {
	text-align:center;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
  border: solid #1f628d 1px;
  text-decoration: none;
  width: 100px;
  height: 50px;
  float: left;
}

.btnStart:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btnCheck {
	text-align:center;
  background: #34d960;
  background-image: -webkit-linear-gradient(top, #34d960, #2cb83c);
  background-image: -moz-linear-gradient(top, #34d960, #2cb83c);
  background-image: -ms-linear-gradient(top, #34d960, #2cb83c);
  background-image: -o-linear-gradient(top, #34d960, #2cb83c);
  background-image: linear-gradient(to bottom, #34d960, #2cb83c);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
  border: solid #1f628d 1px;
  text-decoration: none;
  width: 201px;
  height: 50px;
  float: left;
}

.btnCheck:hover {
  background: #3cfc53;
  background-image: -webkit-linear-gradient(top, #3cfc53, #34d947);
  background-image: -moz-linear-gradient(top, #3cfc53, #34d947);
  background-image: -ms-linear-gradient(top, #3cfc53, #34d947);
  background-image: -o-linear-gradient(top, #3cfc53, #34d947);
  background-image: linear-gradient(to bottom, #3cfc53, #34d947);
  text-decoration: none;
}
.btnsDiv{
	width:302px;
}
.btn{
	margin: 0px 0px 0px 0px;
	width: 100px;
	float: left;
}
.btn200{
	margin: 0px 0px 0px 0px;
	width: 201px;
	float: right;
}
.btnDivH {
  /*background: #3cb0fd;*/
  width: 302px;
  height: 50px;
  margin: 0px 0px 0px 0px;
}
.btnCheckDivH {
  background: #3cb0fd;
  width: 302px;
  height: 50px;
  margin: 301px 0px 0px 0px;
}

.txtDivH {
	text-align:center;
  width: 99px;
  height: 49px;
  line-height: 49px;
  background: #3498db;
 
  border: solid #1f628d 1px;
  float: right;
  margin: 0px 0px 0px 0px;
}

.txtDisp {
	margin: auto;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
}

.spn{
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
}

.btnHintDiv:btnCheckDivH {
	width = 101px;
	float = right;
}

.btnHint {
	width: 101px;
	height:50px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ced934;
    text-decoration: none;
}

.btnHint:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
